body {
  margin: 0;
  padding: 0;

  h1, h2, h3,
  h4, h5, h6,
  p {
    margin: 0;
  }

  .container {
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100vh;
  }
}